.task-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: lightgray solid 1px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.58);
  margin: 20px 0 20px 0;
  box-shadow: 0px 5px 5px #919191;
}

.task-container.COMPLETED {
  opacity: 50%;
}


.actions{
  display: flex;
  align-items: center;
}

fa-icon{
  padding: 10px;
}

fa-icon:hover{
  cursor: pointer;
}


.description{
  text-align: center;
}

